



main {
    width: 70%;
    height: 80%;
    
    margin: 100px auto;
}

.list-group-item {
    border: none;
}
.garden-table{
    background-color: rgb(127, 255, 212, 0.6);
   
}

.hidden{
    display:none;
}

.container,
 .container-fluid {
    padding: 0;
}


.app-functions {
   
    border: none;
    list-style-type: none;
}

.functions-list {
    width: 50%;
    text-align: left;
    margin: auto;
    border: none;
    
}

.keywords-intro {
    list-style-type: none;
   
}
.keyword-list {
    font-weight: bold;
}